/* src/pages/register/RegisterPage.module.css */
.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(135deg, #fefefe 0%, #f2f2f2 100%);
}

.mainContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
