/* index.css */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  /* color o background general si quieres, p.ej.: */
  background-color: #f9f9f9;
  /* o si prefieres fondo oscuro y el login tenga fondo claro:
     background-color: #222; */
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
